.lista {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #363636;

    border: 5px solid #ccc !important; 
    border-radius: 15px;
}

.lista #titulo {
    width: 100%;
    margin: 5px 50px 5px;
    border-bottom: solid;
}

.lista #titulo h2 {
    margin: 0;
}

.lista ul {
    padding: 0;
}

.lista ul li {
    list-style-type: none;
}